*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color:rgb(1,11,22);
    --light-mode-bg-url: url(./assets/moon-stars.svg);
    
}
#container{
    --text-color:white;
}
.dark-mode{
    --text-color:white;
    --dark-mode-bg-url: url(./assets/sun.svg);
}


#container{
    font-size: 25px;
    text-align:center;
    background: rgb(1,11,22);
    max-width: auto;
    max-height: auto;
    margin: 0px auto 0px;
    padding: 25px;
}
#container p{
    text-align: left;
    height: 35px;
    font-size: large;
}

body {
    text-align: left;
    font-size: 25px;
    height: 100vh;
    transition: background  0.5s;

    padding: 0;
    
}

body *{
    font-family: Verdana, sans-serif;
    color: var(--text-color)
}

.dark-mode {
    background: rgb(1,11,15);
    

}

button{
    width: 0px;
    margin: 0px auto;
    background: rgba(255, 255, 255, 0.644) var(--light-mode-bg-url) no-repeat center;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.644);
}

.dark-mode button{
    background: rgba(37, 37, 37, 0.445) var(--dark-mode-bg-url) no-repeat center;
    border: 1px solid rgba(37, 37, 37, 0.445);
}

button:hover{
    width: 32px;
    height: 32px;
    outline: 8px solid;
    color: rgb(255,255,255,0.2);
}
ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 24px 50px;
   
    

}

ul li{
    font-size: large;
    align-items: left;
    justify-content: left;
    
    
}
h1{
    height: 85px;
}
h2{
    padding: 20px;
}