*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color:rgb(1,11,22);
    --light-mode-bg-url: url(./assets/moon-stars.svg);
    --surface-color: rgb(255,255,255,0.5);
    
}
#container{
    --text-color:white;
}
.dark-mode{
    --text-color:white;
    --dark-mode-bg-url: url(./assets/sun.svg);
}


#container{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    background: rgb(1,11,22);
    height: auto;
    width: auto;
    padding: 0px 20px;
    
    
}
.informações-de-contato{
    display: block;
    align-items: center;
    text-align: left;
    padding: 24px 0px;
    font-size: 25px;
}


body {
    text-align: left;
    font-size: large;
    transition: background  0.5s;

    padding: 0px;
    
}

body *{
    font-family: Verdana, sans-serif;
    color: var(--text-color)
}

.dark-mode {
    background: rgb(1,11,15);
    

}

button{
    display: flex;
    width: 32px;
    height: 32px;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.644) var(--light-mode-bg-url) no-repeat center;

    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.644);
}

.dark-mode button{
    background: rgba(37, 37, 37, 0.445) var(--dark-mode-bg-url) no-repeat center;
    border: 1px solid rgba(37, 37, 37, 0.445);
}

button:hover{
    width: 32px;
    height: 32px;
    outline: 8px solid;
    color: rgb(255,255,255,0.2);
}
h2{
    padding: 10px 20px;
    
}
div ol{
    padding: 10px 20px;
    font-weight: bold;
    float: left;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 50px;
    

}

ul li{
    font-size: large;
    align-items: left;
    justify-content: left; 
    list-style: disc; 
}

div li{
    list-style: none;
    padding: 15px 50px;
}
div ol{
padding: 15px 20px;

}




footer{
    text-align: center;
    font-size: 25px;
}
